<!DOCTYPE html>
<html>
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>The Web Journey</title>
<link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css" />
<link href="blogstyle.css" rel="stylesheet" type="text/css" media="screen" />
<title>Personalblog</title>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>

<body>
  <div class="header-wrapper">
    <div class="header" class="container">
      <div class="logo">
        <h1><%= link_to 'the web journey', home_path %></h1>
        <p>Jonathan Lau</a></p>
      </div>
      <div id="menu">
        <ul>
          <li><%= link_to 'home', home_path %></li>
          <li><%= link_to 'blog', blogs_path %></li>
          <li><%= link_to 'projects', projects_path %></li>
          <li><%= link_to 'contact', contact_path %></li>
        </ul>
      </div>
    </div>
  </div>
  <%= yield %>

</body>
</html>
